*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

    --color-grey-900:hsl(0, 0%, 8%);
    --color-grey-800:hsl(0, 0%, 12%);
    --color-grey-700:hsl(0, 0%, 20%);

    --color-white:hsl(0, 0%, 100%);

    --color-green: hsl(75, 94%, 57%);

    --text-size1: 1.5rem;
    --text-size2: 0.875rem;

    --spacing1: 2.5rem;
    --spacing2: 1.5rem;
    --spacing3: 1rem;
    --spacing4: 0.75rem;
    --spacing5: 0.5rem;
    --spacing6: 0.25rem;
}

html{
    font-size: clamp(14px, 1.5vw, 16px);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--color-grey-900);
}

.container{
    display: contents;
}
.card{
    background-color: var(--color-grey-800);
    padding: clamp(var(--spacing2), 4vw, var(--spacing1));
    border-radius: 0.75rem;
    text-align: center;
    max-width: 24rem;
    width: clamp(20rem, 80%, 24rem);
}

.card-image{
    width: 5.375rem;
    height: 5.375rem;
    border-radius: 50%;
    margin-bottom: var(--spacing2);
    object-fit: cover;
}

.card-name{
    color: var(--color-white);
    font-size: var(--text-size1);
    margin-bottom: var(--spacing6);
}

.card-location{
    color: var(--color-green);
    font-size: var(--text-size2);
    margin-bottom: var(--spacing2);
    font-weight: bold;
}

.card-description{
    color: var(--color-white);
    font-size: var(--text-size2);
    margin-bottom: var(--spacing2);
}

.card-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.8125rem;
    background-color: var(--color-grey-700);
    color: var(--color-white);
    text-decoration: none;
    border-radius: 0.5rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-bottom: var(--spacing3);
}

.card-button:hover{
    background-color: var(--color-green);
    cursor: pointer;
    color: var(--color-grey-700);
}